#canvas1, #canvas2 {
    position:absolute;
    zoom: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
}
#canvas1 {
    filter: blur(5px) brightness(0.6) sepia(1) saturate(4) hue-rotate(-25deg);
    opacity: 0.8;
}
#canvas2 {
    opacity: 0.5;
}
.background-dark {
    position: absolute;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}
#content-canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
